<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<!-- top navigation -->
	<div th:fragment="header" class="top_nav">
		<div th:replace="views/front/CU08-19/layout/header"></div>
	</div>
	<!-- /top navigation -->
	<!-- top navigation -->
	<div th:fragment="navigation" class="top_nav">
		<div th:replace="views/front/CU08-19/layout/navigation"></div>
	</div>
	<!-- /top navigation -->
</body>
	<div th:fragment="footer" class="top_nav">
		<div th:replace="views/front/CU08-19/layout/footer"></div>
	</div>
</html>